
<form #data='ngForm' (ngSubmit)="Fun(data)">

  <!-- <header>
    <h2>Example Responsive Form</h2>
    <div>This form breaks at 600px and goes from a left-label form to a top-label form. At above 1200px, the labels align right.</div>
  </header>
   -->
  <div>
    <label class="desc" id="title1" for="Field1">Full Name</label>
    <div>
      <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" required ngModel [(ngModel)]="formData.name">
    </div>
  </div>
    
  <div>
    <label class="desc" id="title3" for="Field3">
      Email
    </label>
    <div>
      <input id="Field3" name="Field3" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" required ngModel [(ngModel)]="formData.email"> 
   </div>
  </div>
    
  <div>
    <label class="desc" id="title4" for="Field4">
      Message
    </label>
  
    <div>
      <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4" required ngModel [(ngModel)]="formData.msg"></textarea>
    </div>
  </div>
  
  <button type="submit" [disabled]="data.invalid">Submit</button>  

</form>

<table style="width:50%">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>message</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let d of dataF;let i=index;">
    <td>{{d.name}}</td>
      <td>{{d.email}}</td>
      <td>{{d.msg}}</td>
      <td><button style="color: red" (click)="removeData(i)">Delete</button>
        <button style="color: blue;margin-left: 30px" (click)="editForm(i)" data-toggle="modal" data-target="#myModal" >Edit</button>
      </td>
  </tr>
</table>



<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div>
            <label class="desc" id="title1" for="Field1">Full Name</label>
            <div>
              <input  type="text"  size="8" tabindex="1" required [(ngModel)]="editformData.name">
            </div>
          </div>
            
          <div>
            <label class="desc" id="title3" for="Field3">
              Email
            </label>
            <div>
              <input  type="email"  maxlength="255" tabindex="3" required ngModel [(ngModel)]="editformData.email"> 
           </div>
          </div>
            
          <div>
            <label class="desc" id="title4" for="Field4">
              Message
            </label>
          
            <div>
              <textarea  rows="10" cols="50" tabindex="4" required ngModel [(ngModel)]="editformData.msg"></textarea>
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="update()" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  


<router-outlet></router-outlet>
